body{
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}


header{
    line-height: 01cm;
    background: green;
    color: white;
    text-align: center;
    padding: 01px;
    
}
nav{
    background: rgb(55, 50, 50);
    padding: 10px;
    color: white;
    word-spacing: 1cm;
    outline-color: aliceblue;
}

nav a{
    font-size:20px;
    color: white;
    }
nav a:hover{
    color:red;
    
}

section{
    text-align: center;
    background: whitesmoke;
    box-shadow: 0px 2px 10px black;
    max-width: 900px;
    margin: auto;
    border-radius: 0.2cm;
    line-height: 30px;
    margin: top 70px; 
    margin-bottom: 70px;
    border: 0;
    
}
section h2{
    text-align: left;
    color :blue
}

section :hover{
    box-shadow: 0px 6px 18px black;
}
table {
    width: 100%;
}



section b{
    color: blue;
}

section li{
    text-align: left;
}

section h2{
    padding: 20px;
}

section p,ul,btn{
    padding-bottom: 011px;
}
