body{
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e7e1e1;
}


header{
    line-height: 01cm;
    background: green;
    color: white;
    text-align: center;
    padding: 01px;
    
}
nav{
    background: rgb(55, 50, 50);
    padding: 10px;
    color: white;
    word-spacing: 1cm;
    outline-color: aliceblue;
}

nav a{
    font-size:20px;
    color: white;
    }
nav a:hover{
    color:red;
    
}

section{
    text-align: center;
    background: whitesmoke;
    box-shadow: 0px 2px 10px black;
    max-width: 900px;
    margin: auto;
    border-radius: 0.2cm;
    line-height: 30px;
    margin: top 70px; 
    margin-bottom: 70px;
    border: 0;
    
}
section h2{
    text-align: left;
    color :blue
}


table {
    width: 100%;
}



section b{
    color: blue;
}

section li{
    text-align: left;
}

section h2{
    padding: 20px;
}

section p,ul{
    padding-bottom: 011px;
}











table th,table td {
    border: 1px solid #110a0a;
    padding: 12px;
    text-align: left;
 }
table th {
    background-color: #f1f1f1;
    font-weight: 600;
    color: #a75a23;
}

.tbl1{
    padding-left: 01cm;
    padding-right: 01cm;
}

.form{
    text-align: left;
    padding-left: 01cm;
    

}

.asd{
    color: #000;
    background-color: red;
    width : 100px;
    height: 50px;
    text-align: center;
}

.asd:hover{
    background-color: rgb(97, 60, 208);
    color: white;
}
